/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", "Arial", "sans";
  text-align: center;
  background: repeat url("assets/back.png");
}
